#root {
  margin: 0 auto;
  padding: 2rem;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  margin-top: 5px;
}

table, th, td {
  border: 1px solid black;
}

label {
  margin-right: 0px;
  margin-left: 5px;
}

input {
  padding: 5px;
  margin: 5px 5px;
}

h1 {
  margin: auto;
  margin-bottom: 10px;
}




